{% extends "webhealth.html" %}
{% block content %}

  <h1>Other Studies</h1>

  <ul class="nav">
    <li><a href="http://localhost:8000/myapp/webhealth">Home</a></li>
    <li><a href="http://localhost:8000/myapp/measurements">Measurements</a></li>
    <li><a href="ohttp://localhost:8000/myapp/other" class="active">Other studies</a></li>
  </ul>

<br>
For further reference, please contact: <a href=http://www.healthdata.org/gbd></a>.

<br>
<br>
<br>
<img src="http://www.healthdata.org/sites/default/files/files/newsletters/Issue17_Dec15/Impact_Dec2015_Deep-Dive_2_LRI-DALYs-2013.png" width="50%" align="center">

{% endblock %}
